/*J'ai essaye autant que je peux pour le rendre plus responsible 
et approximative à l'originale grace aux fonctinnalites flex (-display:flex, 
flex- direction:row)*/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: initial;
    margin: 0;
    padding: 0;
    bottom: 0;
    font-size: small;
    font-family: arial, sans-serif;
    flex-basis: auto;
    height: auto;
    color: black;
}
/* css barre de navigation*/
nav{
    height: 4.375rem;
    flex-basis: auto;
}
img{
    height: 18px;
    width: 19px;
}
ul{
    float: right;
}
li{
    list-style: none;
    float: left;
    margin: 0.625rem;
}
a{
    text-decoration: none;
    font-size: 0.875rem;
    color: rgba(97, 97, 97, 0.966);
}
.sign{
    border-style: none;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    width:90px ;
    background-color: rgb(81, 81, 241);
    color: white;
    font-size: 0.8125rem;
}
/* css du Content*/
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 4;
    margin-bottom: 6.25rem;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-top: 9.375rem;
    justify-content: center;
}
#logo{
    height: 6.25rem;
    width: 25rem;
    justify-content: center;
    justify-content: space-around;
}
.div-search{
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
}
.search{
    height: 2.8125rem;
    width: 33.125rem;
    padding-left: 1.25rem;
    font-size: 1.25rem;
    flex-direction: row;
    border: solid 1px #e5e5e5;
    border-radius: 3.125rem;
    background-color: transparent;
    justify-content: center;
    box-shadow: #eef1f1d3 2px 2px 2px 2px;
}
.mic{
    margin-left: -2.8125rem;
    height: 27px;
    width: 26px;
    margin-top: 0.625rem;
    margin-right: 1.25rem;
}
.buttn{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.1875rem; 
    margin-bottom: 1.5625rem;
}
button{
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    box-shadow: rgb(247, 247, 247) 1px 1px 1px 1px;
    padding: 6px;
    color: rgba(97, 97, 97, 0.966);
    width: 9.375rem;
    height: 2.1875rem;
    font-size: 0.875rem;
    border: solid 1px #f9f9f9;
}
button:hover{
    background-color: #d4d4d4;
}
span{
    margin: 0.625rem;
    margin-top: 5px;
}
.caption{
    height: 1.5625rem;
    margin-bottom: 3.125rem;
}
em{
    font-style: normal;
    color: rgb(42, 42, 189);
}
/* css du page de pied*/
.footer{
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.25rem;
    background-color: #f2f2f2;
    border-top-color: solid 1px rgb(218, 218, 218);
}
.foooter1{
    flex-direction: row;
    height: 1.25rem;
}
.footer2{
    flex-direction: row; 
    border-top: solid 1px rgb(218, 218, 218);
    height: 2.8125rem;
}

h3{
    margin-left: 2.9375rem;
    color: rgba(97, 97, 97, 0.966);
    font-weight: normal;
}
.lst1{
    float: left;
    padding-top: 0;
}
.lst2{
    float: right;
    margin-left: 18.75rem;
    flex-wrap: nowrap;
}
/* ce code css est mis pour supprimer les barres horizontal et vertical 
sur cette page*/
html{
    overflow-y: hidden;
    overflow-x: hidden;
}